<div nz-row style="padding-bottom: 10px;">
    <div nz-col nzSpan="4">
        <input type="text" nz-input placeholder="输入视频标题" [(ngModel)]="videoTitle" />
    </div>
    <div nz-col nzSpan="2">
        <button nz-button nzType="primary" (click)="queryClick()">
            <span nz-icon nzType="search"></span>
            查询
        </button>
    </div>
    <div nz-col nzSpan="3">
        <button nz-button nzType="default" (click)="newClick(tlVideoDetail)">
            <span nz-icon nzType="plus"></span>
            新增
        </button>

    </div>
</div>
<nz-table #videoListTable nzShowPagination nzShowSizeChanger [nzData]="videoList">
    <thead>
        <tr>
            <th>视频ID</th>
            <th>视频标题</th>
            <th>创建人</th>
            <th>阅读次数</th>
            <th>是否为推荐</th>
            <th [nzSortFn]="createTimeSortFn">创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of videoListTable.data">
            <td>{{ data.videoId }}</td>
            <td>{{ data.title }}</td>
            <td>{{ data.author }}</td>
            <td>{{ data.viewTimes }}</td>
            <td>{{ getRecommendFlagName(data.recommendFlag) }}</td>
            <td>{{ data.createTime|date:'yyyy/MM/dd HH:mm:ss' }}</td>
            <th><button nz-button nzSize="small" nzType="primary"
                    (click)="editVideoClick(tlVideoDetail,data)">查看</button></th>
        </tr>
    </tbody>
</nz-table>

<ng-template #tlVideoDetail>
    <form nz-form>
        <nz-form-item style="padding-bottom: 10px;">
            <nz-form-label [nzSpan]="1" nzFor="phoneNumber">标题：</nz-form-label>
            <nz-form-control [nzSpan]="20">
                <input type="text" nz-input placeholder="文章标题" [(ngModel)]="videoDetail.title" name="title" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item style="padding-bottom: 10px;">
            <nz-form-label [nzSpan]="1">视频：</nz-form-label>
            <nz-form-control [nzSpan]="20">

            </nz-form-control>
        </nz-form-item>
        <nz-form-item style="padding-bottom: 10px;">
            <nz-form-label [nzSpan]="1">内容：</nz-form-label>
            <nz-form-control [nzSpan]="20">
            </nz-form-control>

        </nz-form-item>
    </form>
</ng-template>